* {
    box-sizing: border-box;
}

h1,
h4 {
    color: white;
}

body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}