* {
    box-sizing: border-box;
}

h1,
h2,
h4,
a {
    color: seashell
}

body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

.icon {
    max-width: 300px;
    max-height: 200px;
}

.location {
    height: 500px;
}

.addressbox {
    background-color: black;
    width: 300px;

}