/* Universal Styles */

* {
    box-sizing: border-box
}

html {
    background-color: #C1B0E8;
    font-family: Dosis;
    font-size: 16px;
    padding: 0;
}

/* Header & Nav Styles */

.logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.header-container {
    width: 100%;
    background-color: white;
    margin: 0;
    border-radius: 3.5rem;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 2rem;
    padding: 0;
    margin: 1rem;   
}

.nav-bar a {
    color: white;
    text-transform: lowercase;
}

header h1 {
    font-size: 3em;
    text-align: center;
    margin: 0;
}

/* Hero Styles */

#hero-container {
    display: block;
    position: relative;
    height: 25em;
    width: 100%;
    overflow: hidden;
}

.hero-back img {
    height: 100%;
    width: 100%;
}

.hero-text h2 {
    position: absolute;
    top: 30%;
    width: 100%;
    background-color: #E05599;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 1em;
}

/* Menu Section Styles */

#menu-container {
    display: flex;
    margin: 2em auto;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 3em;
}

.menu-item {
    width: 7em;
    height: 9em;
    border: solid thin #E05599;
    border-radius: 1em;
}

.menu-item img {
    height: 100%;
    width: 100%;
    border-radius: 1em;
}

.menu-item h4 {
    margin: 0;
    text-align: center;
    color: white;
}

/* Cafe Quote Section Styles */

.quote-container {
    display: flex;
    align-content: center;
    height: 10em;
    background-color: #E05599;
    color: white;
    font-family: "Dancing Script";
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.quote-container h5 {
    margin: auto 3em;
}